{% extends "user_base.html" %}
{% load static %}
{% block title %}
View images
{% endblock %}
{% block extra_style %}

<style>
	body {
		background: #4378a0;
		font-family: "Roboto", sans-serif;
	}

	.searchbut
	{
		width: 50px;
		background-color: rgb(191, 204, 204);
		border: none;
		cursor: pointer;
	}

	.onitemheader
	{
		display: inline-flex;
	}

	@media (max-width: 375px)
	{
		.onitemheader
		{
			display: inline-block;
		}
	}

	.editbtn
	{
		float: right;
		margin-bottom: 10px;
		cursor: pointer;
	}

	.leftcon
	{
		font-size: 12px;
	}

	.leftbtn
	{
		display: inline-flex;
		justify-content: space-between;
		margin: 10px 15px;
	}

	.leftbtn .btn-danger
	{
		margin-left: 35px;
	}

	@media (max-width: 375px)
	{
		.leftbtn
		{
			display: inline-block;
		}

		.leftbtn .btn-danger
		{
			margin-top: 10px;
			margin-left: 15px;
		}
	}

	.leftlinksection
	{
		padding: 10px;
		width: 100%;
		height: 75px;
		background-color: rgb(107, 175, 231);
		border-radius: 30px;
		text-align: center;
	}

	.leftlinksection a
	{
		font-size: 16px;
	}

	.box {
		padding: 30px;
		margin-bottom: 30px;
		border-radius: 10px;
		background: #fff;
		z-index: -10;
		box-shadow: 0 2px 30px rgba(0, 0, 0, 0.1);
		font-size: 16px;
	}

	@media (min-width: 768px) {
		.box {
			padding: 50px;
		}
	}

	.align-center {
		align-items: center;
	}

	.image-block {
		position: relative;
	}

	.image-block .img-image {
		position: relative;
		margin-top: 30px;
	}

	@media (min-width: 768px) {
		.image-block .img-image {
			width: 90%;
			margin: 0 auto;
		}
	}

	@media (max-width: 768px) {
		.box {
			height: auto;
		}
	}

	.image-block .img-image img {
		height: 400px;
		width: 100%;
		object-fit: cover;
		border-radius: 10px;
		box-shadow: 0 5px 30px -3px rgba(0, 0, 0, 0.1);
	}

	.card1 {
		margin-left: 140px;
		z-index: 0;
	}

	#progressbar {
		position: absolute;
		left: 35px;
		overflow: hidden;
		color: #E53935;
	}

	#progressbar li {
		list-style-type: none;
		font-size: 8px;
		font-weight: 400;
		margin-bottom: 80px;
	}

	#progressbar .step0:before {
		content: "";
		color: #fff
	}

	#progressbar li:before {
		width: 30px;
		height: 30px;
		line-height: 30px;
		display: block;
		font-size: 20px;
		border: 2px solid #3547e5;
		background: #3547e5;
		border-radius: 50%;
		margin: auto;
	}

	#progressbar li:after {
		content: '';
		width: 3px;
		height: 80px;
		background: #03a12b;
		position: absolute;
		left: 70px;
		top: 30px;
		z-index: 0;
	}

	#progressbar li:nth-child(3):after {
		top: 250px
	}

	#progressbar li:nth-child(2):after {
		top: 140px
	}

	#progressbar li:nth-child(1):after {
		top: 30px
	}

	/* #progressbar li:first-child:after {
		position: absolute;
		top: -81px
	} */

	#progressbar li:first-child:after {
		position: absolute;
	}

	#progressbar li.active:after {
		background: #03ac28;
		height: 80px;
		z-index: 10;
	}

	#progressbar li.active:before {
		background: #03a12b;
		font-family: FontAwesome;
		content: "\f00c";
		border: 2px solid #03a12b;
	}
	#progressbar li.disactive:before {
		background: red;
		font-family: FontAwesome;
		content: "\f00d";
		border: 2px solid red;
	}

	.appr {
		word-wrap: break-word;
	}

	.seereport {
		color: blue;
		border-bottom: 1px solid blue;
		cursor: pointer;
		margin-left: 75px;
	}

	@media (max-width: 992px) {
		.card1 {
			margin-left: 75px;
		}

		#progressbar {
			left: 0px;
		}

		.image-block .img-image {
			width: 100%;
			margin: 0 auto;
		}
	}

	@media screen and (max-width: 912px) {
		.card1 {
			border: none;
			margin-left: 50px;
		}

		#progressbar {
			left: -25px;
		}
	}

	@media screen and (max-width: 465px) {
		#progressbar li {
			margin-bottom: 120px;
		}

		#progressbar li:after {
			height: 120px;
		}

		#progressbar li:nth-child(2):after {
			top: 180px
		}

		#progressbar li:nth-child(2):after {
			top: 300px
		}

		/* 
		#progressbar li:nth-child(1):after {
			top: 30px;
		} */
		#progressbar li.active:after {
			background: #03ac28;
			height: 120px;
			z-index: 10;
		}
	}

	@media screen and (max-width: 330px) {
		.seereport {
			margin-left: 25px;
		}
	}
	.textarea
	{
		border: 1px solid #000;
	}
	.accordion{
	margin: 40px 0;
	}
	.accordion .item {
		border: none;
		margin-bottom: 50px;
		background: none;
	}
	.t-p{
		background: none;
		color: #000;
		padding: 40px 30px 0px 30px;
	}
	.accordion .item .item-header h2 button.btn.btn-link {
		background: #333435;
		color: white;
		border-radius: 0px;
		font-family: 'Poppins';
		font-size: 16px;
		font-weight: 400;
		line-height: 2.5;
		text-decoration: none;
	}
	.accordion .item .item-header {
		border-bottom: none;
		background: transparent;
		padding: 0px;
		margin: 2px;
	}

	.accordion .item .item-header h2 button {
		color: white;
		font-size: 20px;
		padding: 15px;
		display: block;
		width: 100%;
		text-align: left;
	}
	.accordion .item .item-header h2 i {
		float: right;
		font-size: 30px;
		color: #eca300;
		background-color: black;
		width: 60px;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 5px;
	}
	button.btn.btn-link.collapsed i {
		transform: rotate(0deg);
	}
	button.btn.btn-link i {
		transform: rotate(180deg);
		transition: 0.5s;
	}
</style>
{% endblock %}
{% block content %}
<div>
	{% if photos %}
	<div class="container">
		<div class="col-md-6 offset-md-3 mt-5">
			<form class="input-group mb-3" action="" method="POST">
				{% csrf_token %}
				<input type="text" class="form-control" name="search" placeholder="Search By Email..." aria-label="Recipient's username">
				<div class="input-group-append">
					<button class="searchbut" type="submit"><i class="fa fa-search"></i></button>
				</div>
			</form>
		</div>
		<br>
		<div class="accordion" id="accordionExample">
			{% for photo in photos%}
			<div class="item">
				<div class="item-header" id="headingOne">
					<h2 class="mb-0">
						<button class="btn btn-link" type="button" data-toggle="collapse"
							data-target="#{{photo.file.url}}" aria-expanded="false">
							<div class="onitemheader">
								{{ forloop.counter }}. &nbsp;&nbsp; <img src="{{photo.file.url}}" width="10%" height="10%"> &nbsp;&nbsp;
								{{photo.email}} &nbsp;&nbsp; {{photo.uploaded_date}} &nbsp;&nbsp; &nbsp;&nbsp;
								Not Verified Till yet
							</div>
						<i class="fa fa-angle-down"></i>
						</button>
					</h2>
				</div>
				<div id="{{photo.file.url}}" class="collapse" aria-labelledby="headingOne"
					data-parent="#accordionExample">
					<div class="t-p">
						<form class="box" accept="" method="POST">
							{% csrf_token %}
							<!-- <div style="text-align: center;">
								<h6><b>{{photo.email}}</b></h6>
							</div> -->
							<div class="editbtn">
								<span class="shareanchor" data-toggle="modal" data-target="#Sharedurl" onclick="SharedViewModalClick('{{photo.email}}','{{photo.file}}')">Share</span>
							</div>
							<div class="row align-center">
								<div class="col-md-6">
									<div class="image-block">
										<div class="img-image">
											<!-- <img src="{{photo.file.url}}"
												alt=""> -->
											<div class="card bg-light leftcon">
												<div style="padding: 15px;">
													<b>Benchmarking Device name</b>
													<p>{{photo.email}}</p>
													<b>Competator Device</b>
													<p>{{photo.competator1_name}}, {{photo.competator2_name}}</p>
													{% if photo.comment %}
													<b>Comment</b>
													<div class="form-group">
														<textarea class="form-control" name="review" disabled rows="3">{{photo.comment}}</textarea>
													</div>
													{% endif %}
													<b>Aploaded Date</b>
													<p>{{photo.uploaded_date}} &nbsp; {{photo.uploaded_time}}</p>
												</div>
												<div>
													<div class="leftlinksection">
														<p>Link to Benchamarking report</p>
														<a href="{% url 'userviewreport' photo.id %}">Link</a>
													</div>
													<br>
													<!-- <div class="leftbtn">
														<button class="btn sm btn-primary btn-md" name="approve" value="{{photo.id}}">Approve</button>
														<button class="btn sm btn-danger btn-md" name="disapprove" value="{{photo.id}}">DisApprove</button>
													</div> -->
													<br>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="rightcon">
										<h5 style="text-align: center;"><b>Approvers</b></h5>
										<div class="d-flex flex-md-row px-3 mt-4 flex-column-reverse">
											<div>
												<div class="card1">
													<ul id="progressbar" class="text-center">
														{% if photo.approver1_status %}
														<li class="active step0"></li>
														{% else %}
														<li class="step0"></li>
														{% endif %}
														{% if photo.approver2_status %}
														<li class="active step0"></li>
														{% else %}
														<li class="step0"></li>
														{% endif %}
														{% if photo.approver3_status %}
														<li class="active step0"></li>
														{% else %}
														<li class="step0"></li>
														{% endif %}
														{% if photo.approver4_status %}
														<li class="active step0"></li>
														{% else %}
														<li class="step0"></li>
														{% endif %}
													</ul>
													<div>
														<div class="appr">
															<b>Approver - 1</b><br>
															<span>
																<b>Email: </b> {{photo.approver1_email}}
															</span>
															<br>
															<div style="display: inline-flex;margin-top: 10px;">
																{% if photo.approver1_status %}
																<p style="color: green;">verified</p>
																{% else %}
																<p style="color: blue;">Pending..</p>
																{% endif %}
															</div>
														</div>
														<div class="appr">
															<b>Approver - 2</b><br>
															<span>
																<b>Email: </b> {{photo.approver2_email}}
															</span>
															<br>
															<div style="display: inline-flex;margin-top: 10px;">
																{% if photo.approver2_status %}
																<p style="color: green;">verified</p>
																{% else %}
																<p style="color: blue;">Pending..</p>
																{% endif %}
															</div>
														</div>
														<div class="appr">
															<b>Approver - 3</b><br>
															<span>
																<b>Email: </b> {{photo.approver3_email}}
															</span>
															<br>
															<div style="display: inline-flex;margin-top: 10px;">
																{% if photo.approver3_status %}
																<p style="color: green;">verified</p>
																{% else %}
																<p style="color: blue;">Pending..</p>
																{% endif %}
															</div>
														</div>
														<div class="appr">
															<b>Approver - 4</b><br>
															<span>
																<b>Email: </b> {{photo.approver4_email}}
															</span>
															<br>
															<div style="display: inline-flex;margin-top: 10px;">
																{% if photo.approver4_status %}
																<p style="color: green;">verified</p>
																{% else %}
																<p style="color: blue;">Pending..</p>
																{% endif %}
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	{% else %}
	<div class="container">
		<div class="jumbotron" style="width: 100%;">
			<!-- <h1 class="display-4">304 Error</h1> -->
			<p class="lead">You have not uploaded report yet.</p>
		</div>
	</div>
	{% endif %}
</div>

<div class="modal fade" id="Sharedurl" tabindex="-1" role="dialog" aria-labelledby="SharedurlModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="SharedurlModalLabel"></h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p id="sharedview"></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary"
					data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<script>
	function SharedViewModalClick(email,file)
	{
		var a=`http://127.0.0.1:8000/sharedview/just-for-view/for-the-user/${email}/${file}`;
		console.log(a)
		document.getElementById('SharedurlModalLabel').innerHTML="Shared URL";
		document.getElementById('sharedview').innerHTML=a;
	}
	function ModalClick(data)
	{
		console.log(data)
		document.getElementById('SharedurlModalLabel').innerHTML="Report";
		document.getElementById('sharedview').innerHTML=data;
	}
</script>

{% endblock %}




<!-- .box {
	padding: 30px;
	margin-bottom: 30px;
	border-radius: 10px;
	background: #fff;
	box-shadow: 0 2px 30px rgba(0, 0, 0, 0.1);
}
@media (min-width: 768px) {
	.box {
		padding: 50px;
	}
}

.align-center {
	align-items: center;
}

.image-block {
	position: relative;
}
.image-block .image {
	position: relative;
	margin-top: 30px;
}
@media (min-width: 768px) {
	.image-block .image {
		width: 75%;
		margin: 0 auto;
	}
}
.image-block .image .img-overlay {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(45deg, #009cd5, #0069b9);
	opacity: 0.9;
	border-radius: 10px;
}
.image-block .image img {
	height: 400px;
	width: 100%;
	object-fit: cover;
	border-radius: 10px;
	box-shadow: 0 5px 30px -3px rgba(0, 0, 0, 0.1);
}
.image-block .image .play-btn {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 60px;
	width: 60px;
	border-radius: 100px;
	background: #fff;
	color: #2196f3;
	display: flex;
	align-items: center;
	justify-content: center;
}
.image-block .image .play-btn:before,
.image-block .image .play-btn:after {
	content: "";
	color: transparent;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	z-index: -1;
	bottom: 0;
	left: 0;
	transition: 0.5s;
	border-radius: 50%;
	border: 1px solid;
	background: rgba(255, 255, 255, 0.253);
}
.image-block .image .play-btn:before {
	animation: ring-wave 2s linear infinite;
}
.image-block .image .play-btn:after {
	animation: ring-wave 2s linear 1s infinite;
}
.image-block .image .play-btn:hover {
	text-decoration: none;
}
.image-block .image .play-btn i {
	font-size: 22px;
	margin-left: 5px;
}

@keyframes ring-wave {
	0% {
		transform: scale(1);
	}
	75% {
		transform: scale(1.75);
		opacity: 1;
	}
	100% {
		transform: scale(2);
		opacity: 0;
	}
}
<div class="container">
	<br>
	<br>

	<div class="box">
		<div class="row align-center">
			<div class="col-md-4 offset-md-1">
				<div class="image-block">
					<div class="image">
						<div class="img-overlay"></div>
						<img src="{% static 'images/about.png' %}" alt="Video">
					</div>
				</div>
			</div>
			<div class="col-md-7">
				<p class="uppercase mb-1">Sub Section</p>
				<h1 class="display-4 font-weight-bold">Video Section</h1>
				<p class="text-muted">Lorem ipsum , consectetur accusaodio?</p>
				<a href="#!" class="btn btn-primary">Read more</a>
			</div>
		</div>
	</div>
</div> -->