{% extends "adm_base.html" %}
{% load static %}
{% block title %}
Benchmarking Report
{% endblock %}
{% block extra_style %}
<style>
	body {
		background: #4378a0;
		font-family: "Roboto", sans-serif;
	}

	.searchbut {
		width: 50px;
		background-color: rgb(191, 204, 204);
		border: none;
		cursor: pointer;
	}

	.box {
		padding: 30px;
		margin-bottom: 30px;
		border-radius: 10px;
		background: #fff;
		z-index: -10;
		box-shadow: 0 2px 30px rgba(0, 0, 0, 0.1);
	}

	.card
	{
		padding: 10px;
		width: 350px;
	}

	.card img
	{
		margin: 0px 5px;
		width: 300px;
		height: 350px;
	}

	.card-body
	{
		margin-bottom: 0px;
	}

	.card-text
	{
		margin-bottom: 25px;
	}

	@media (min-width: 768px) {
		.box {
			padding: 50px;
		}
	}

	.align-center {
		align-items: center;
	}

	.anchorlink
	{
		text-decoration: none;
		color: blue;
	}
	.nav-pills .nav-link
	{
		display: block;
		color: #000;
	}
	.viewcomments
	{
		/* border: 1px solid #000; */
		border-radius: 5px;
		padding: 5px 10px;
		min-height: 100px;
		max-height: 175px;
		overflow: scroll;
	}
	small
	{
		cursor: grab;
	}
	textarea
	{
		cursor: grab;
	}

</style>
{% endblock %}
{% block content %}
<div class="container">
	<h5 style="text-align: left;color: #000;font-size: 30px;"><b>Online Benchmarking Report</b></h5>
	<div class="box">
		<div style="text-align: center;margin-bottom: 20px;">
			<!-- <h6><b>{{photo.email}}</b></h6> -->
			<!-- <div class="d-flex justify-content-center">
				<ul id="nav-tabs" class="nav nav-pills">
					<li class="active"><a data-toggle="tab" class="nav-link active"href="#hdr">Hdr</a></li>
					<li><a data-toggle="tab" class="nav-link" href="#beauty">Beauty</a></li>
					<li><a data-toggle="tab" class="nav-link" href="#bokeh">Bokeh</a></li>
					<li><a data-toggle="tab" class="nav-link" href="#light">Light</a></li>
				</ul>
			</div> -->
		</div>
		<div class="row align-center">
			<!-- <div class="col-md-4">
				&nbsp;
			</div> -->
			<div class="col-md-12">
				<div>
					<div>
						<div class="bg-white">
							<div>
								<div class="row ">
									<div class="col-md-4">
										<div class="card shadow-sm">
											<img src="{{photo.samsung_image.url}}" width="100%" height="50%" alt="">

											<div class="card-body">
												<p class="card-text">Samsung Mobile</p>
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="card shadow-sm">
											<img src="{{photo.apple_image.url}}" width="100%" height="50%" alt="">

											<div class="card-body">
												<p class="card-text">{{photo.competator1_name}}</p>
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="card shadow-sm">
											<img src="{{photo.oneplus_image.url}}" width="100%" height="50%" alt="">

											<div class="card-body">
												<p class="card-text">{{photo.competator2_name}}</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br>
		<div>
			<div id="hdr">
				<div class="row">
					<div class="col-md-2 col-sm-12">
						Hdr
					</div>
					<div class="col-md-10 col-sm-12">
						<div class="viewcomments">
							{% for h in hdr %}
								<small><b>{{h.email}}</b></small>
								<!-- <div style="width: 90%;padding: 5px 20px;min-height: 75px;">
									{{h.review}}
								</div> -->
								<textarea class="form-control" disabled rows="2">{{h.review}}</textarea>
							{% empty %}
							<p>No Hdr reviews till yet</p>
							{% endfor %}
						</div>
					</div>
				</div>
				<br>
			</div>
			<div id="beauty">
				<div class="row">
					<div class="col-md-2 col-sm-12">
						Beauty
					</div>
					<div class="col-md-10 col-sm-12">
						<div class="viewcomments">
							{% for bea in beauty %}
								<small><b>{{bea.email}}</b></small>
								<textarea class="form-control" disabled rows="2">{{bea.review}}</textarea>
							{% empty %}
							<p>No beauty reviews till yet</p>
							{% endfor %}
						</div>
					</div>
				</div>
				<br>
			</div>
			<div id="bokeh">
				<div class="row">
					<div class="col-md-2 col-sm-12">
						Bokeh
					</div>
					<div class="col-md-10 col-sm-12">
						<div class="viewcomments">
							{% for bo in bokeh %}
								<small><b>{{bo.email}}</b></small>
								<textarea class="form-control" disabled rows="2">{{bo.review}}</textarea>
							{% empty %}
							<p>No bokeh reviews till yet</p>
							{% endfor %}
						</div>
					</div>
				</div>
				<br>
			</div>
			<div id="light">
				<div class="row">
					<div class="col-md-2 col-sm-12">
						Light
					</div>
					<div class="col-md-10 col-sm-12">
						<div class="viewcomments">
							{% for li in light %}
								<small><b>{{li.email}}</b></small>
								<textarea class="form-control" disabled rows="2">{{li.review}}</textarea>
							{% empty %}
							<p>No light reviews till yet</p>
							{% endfor %}
						</div>
					</div>
				</div>
				<br>
			</div>
		</div>
	</div>
</div>
{% endblock %}
